.header {
    display: flex;
    align-items: flex-start;
    margin-bottom: rem(100px);

    @include tablets {
        margin-bottom: rem(34px);

    }

    @include phones {
        margin-bottom: rem(34px);

    }
}

.header__logo {
    margin-right: rem(39px);
}

.header__icon {
    width: rem(40px);
    height: rem(40px);
}

.main-menu {
    display: flex;
    align-items: center;
    padding-top: 10px;

    @include tablets {
        display: none;
    }
}

.main-menu__list {
    display: flex;
    align-items: center;
    margin-right: rem(15px);
    font-family: "Alegreya Sans", Arial, Helvetica, sans-serif;
    flex-wrap: wrap;
    justify-content: center;
}

.main-menu__item {
    margin-right: rem(28px);
}

.main-menu__link {
    text-decoration: none;
    white-space: nowrap;
    
    &:hover {
        color: #CA1B36;
    }

    &:last-child {
        margin-right: 0;
    }
}

.phone {
    text-decoration: none;
    display: flex;
    align-items: center;
}

.header__phone {
    padding-top: 8px;
    
    @include tablets {
        display: none;
    }
}

.header_phone_icon {
    width: rem(12px);
    height: rem(12px);
    margin-right: rem(5px);
    flex-shrink: 0;
}

.header_phone_text {
    white-space: nowrap;
}